/* style.css */

/* Styling for the offer item */
.offer-item {
    background-color: #f8f8f8; /* Background color */
    padding-bottom: 15px; /* Padding */
    border-radius: 15px; /* Border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    max-width: 40%; /* Maximum width */
    margin: 0 auto 20px; /* Margin */
    font-family: 'Arial', sans-serif; /* Font family */
    position: relative; /* Position relative for inner elements */
}

/* Styling for the offer item on hover */
.offer-item:hover {
    background-color: #f2f2f2; /* Background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
}

/* Styling for the offer item title */
.offer-item-title {
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-bottom: 10px; /* Margin bottom */
}

/* Styling for the offer item data */
.offer-item-data {
    display: flex; /* Display as flex */
    gap: 10px; /* Gap between elements */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 10px; /* Margin bottom */
}

/* Styling for the offer item data icon */
.offer-item-data-icon {
    max-width: 18px; /* Maximum width */
    padding-right: 5px; /* Padding right */
}

/* Styling for the offer item data element */
.offer-item-data-element {
    border-radius: 15px; /* Border radius */
    font-size: 18px; /* Font size */
    font-weight: bold; /* Font weight */
    padding: 5px 10px; /* Padding */
    width: fit-content; /* Width based on content */
    display: flex; /* Display as flex */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.offer-item-header {
    display: inline-flexbox;
    justify-content: space-between;
    align-items: flex-start; /* Align items to start to avoid shifting */
    padding-top: 0px;
    position: relative;

    background-color: #e0e0e0; /* Background color for the rectangle */
    border-top-left-radius: 15px; /* Border radius for top left corner */
    border-top-right-radius: 15px; /* Border radius for top left corner */
}

/* New styling for the top-left region */
.offer-item-group {
    padding: 5px 10px; /* Adjust padding */
    /* border-bottom-right-radius: 15px; Border radius for bottom right corner to blend in */
    font-size: 14px; /* Adjust font size if needed */
    vertical-align: top;
    position: relative;
    top: 0;
    left: 0;
}

.offer-item-close {
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    position:absolute;
    top: 0;
    right: 5px;
}
